body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #141e30, #243b55);
  color: #fff;
}

header {
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  padding: 1.5rem;
  border-bottom: 3px solid #6de1d2;
  text-shadow: 1px 1px 8px rgb(61, 26, 235);
}

header h1 {
  font-size: 50px;
  color: #a31d1d;
}

.highlight {
  color: #ffcd3c;
}

main {
  width: 90%;
  max-width: 1100px;
  margin: 2rem auto;
}

.movie {
  background: rgba(255, 255, 255, 0.05);
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin-bottom: 2.5rem;
  box-shadow: 10px 10px 30px rgba(53, 12, 216, 0.7);
}

.movie h2 {
  color: aqua;
  text-shadow: 1px 1px 8px rgba(0, 255, 255, 0.4);
}

.movie pre {
  color: #ccc;
  font-size: 0.9rem;
}

.media {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.media img,
.media video {
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.summary {
  background: rgba(109, 225, 210, 0.2);
  border-left: 4px solid #6de1d2;
  padding: 0.8rem;
  border-radius: 5px;
}

strong {
  color: #ffcd3c;
}

mark {
  background-color: #ffcd3c;
  color: #000;
  padding: 2px 5px;
  border-radius: 3px;
}

hr {
  border: none;
  height: 2px;
  background: linear-gradient(to right, #6de1d2, transparent);
  margin: 1rem 0;
}

footer {
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  color: #ddd;
  border-top: 2px solid #6de1d2;
}
